<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Perch accesses Apple Music only to display and control the track you are playing.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>PerchDaemonEntrypointRelativePath</key>
	<string>Contents/Resources/Daemon/entry.mjs</string>
	<key>PerchDaemonHostRelativePath</key>
	<string>Contents/Helpers/PerchDaemonHost</string>
	<key>PerchDaemonRuntimeRelativePath</key>
	<string>Contents/Resources/DaemonRuntime</string>
	<key>PerchLaunchAgentTemplateResource</key>
	<string>engineering.super.Perch.daemon.plist.template</string>
</dict>
</plist>
